.category-graph {
  width: 100%;
  height: 100%;

  svg {
    width: 100% !important;
    height: 100% !important;
  }

  .react-transform-wrapper {
    width: 100% !important;
    height: 100% !important;
  }

  .react-transform-component {
    width: 100% !important;
    height: 100% !important;
  }

  &__controls {
    display: none;
  }
}
