@use '../../styles/mixins' as *;

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &-content {
    flex: 1;
    display: flex;
    position: relative;
  }

  &__main {
    flex: 1;
    width: calc(100% - 68px);
    min-height: calc(100vh - 60px);
  }

  &__nav-button {
    @include control-button;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 100;
  }
}
