.breadcrumbs {
  position: fixed;
  top: 20px;
  left: 68px; // уменьшаем отступ, чтобы не перекрывать кнопку меню
  display: flex;
  align-items: center;
  gap: 8px;
  z-index: 100;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);

  &__item {
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 4px;
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    padding: 0;

    .material-icons {
      font-size: 16px;
    }

    &:hover {
      color: white;
    }

    &--active {
      color: white;
      cursor: default;

      &:hover {
        color: white;
      }
    }
  }

  &__separator {
    opacity: 0.4;
    font-size: 14px;
  }
} 